{
    "file": 1,
    "format": 1
}{
    "check_after_days": {{ deluge_cfg_plugins_blocklist.raw.check_after_days }},
    "last_update": {{ deluge_cfg_plugins_blocklist.raw.last_update }},
    "list_compression": "{{ deluge_cfg_plugins_blocklist.raw.list_compression }}",
    "list_size": {{ deluge_cfg_plugins_blocklist.raw.list_size }},
    "list_type": "{{ deluge_cfg_plugins_blocklist.raw.list_type }}",
    "load_on_start": {{ deluge_cfg_plugins_blocklist.raw.load_on_start | string | lower }},
    "timeout": {{ deluge_cfg_plugins_blocklist.raw.timeout }},
    "try_times": {{ deluge_cfg_plugins_blocklist.raw.try_times }},
    "url": "{{ deluge_cfg_plugins_blocklist.raw.url }}",
{% if deluge_cfg_plugins_blocklist.raw.whitelisted | length > 0 %}
    "whitelisted": [
{%   for whitelist in deluge_cfg_plugins_blocklist.raw.whitelisted %}
        "{{ whitelist }}"{% if not loop.last %},{% endif %}

{%   endfor %}
    ]
{% else %}
    "whitelisted": []
{% endif %}
}