{
    "file": 1,
    "format": 1
}{
{% if _deluge_cfg_plugins_execute.raw | length > 0 %}
    "commands": [
{%   for script in _deluge_cfg_plugins_execute.raw %}
        [
            "{{ script.command | sha1 }}",
            "{{ script.event }}",
            "{{ script.command }}"
        ]{% if not loop.last %},{% endif %}
{%   endfor %}

    ]
{% else %}
    "commands": []
{% endif %}
}