{
    "file": 1,
    "format": 1
}{
{% if deluge_plugins_execute | length > 0 %}
    "commands": [
{% for script in deluge_plugins_execute %}
        [
            "{{ script.command | sha1 }}",
            "{{ script.event }}",
            "{{ script.command }}"
        ]{% if not loop.last %},{% endif %}
{% endfor %}

    ]
{% else %}
    "commands": []
{% endif %}
}