{
    "file": 1,
    "format": 1
}{
    "extract_path": "{{ _deluge_cfg_plugins_extractor.raw.extract_path }}",
    "use_name_folder": {{ _deluge_cfg_plugins_extractor.raw.use_name_folder | string | lower }}
}