{
    "file": 1,
    "format": 1
}{
    "button_state": [
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[0] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[0] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[1] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[1] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[2] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[2] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[3] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[3] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[4] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[4] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[5] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[5] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[6] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[6] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[7] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[7] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[8] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[8] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[9] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[9] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[10] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[10] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[11] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[11] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[12] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[12] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[13] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[13] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[14] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[14] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[15] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[15] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[16] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[16] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[17] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[17] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[18] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[18] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[19] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[19] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[20] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[20] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[21] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[21] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[22] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[22] }}
        ],
        [
            {{ _deluge_cfg_plugins_scheduler.raw.mon[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.tue[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.wed[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.thr[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.fri[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sat[23] }},
            {{ _deluge_cfg_plugins_scheduler.raw.sun[23] }}
        ]
    ],
    "low_active": {{ _deluge_cfg_plugins_scheduler.raw.low_active }},
    "low_active_down": {{ _deluge_cfg_plugins_scheduler.raw.low_active_down }},
    "low_active_up": {{ _deluge_cfg_plugins_scheduler.raw.low_active_up }},
    "low_down": {{ _deluge_cfg_plugins_scheduler.raw.low_down }},
    "low_up": {{ _deluge_cfg_plugins_scheduler.raw.low_up }}
}