{
    "file": 1,
    "format": 1
}{
    "button_state": [
        [
            {{ _deluge_plugins_scheduler.mon[0] }},
            {{ _deluge_plugins_scheduler.tue[0] }},
            {{ _deluge_plugins_scheduler.wed[0] }},
            {{ _deluge_plugins_scheduler.thr[0] }},
            {{ _deluge_plugins_scheduler.fri[0] }},
            {{ _deluge_plugins_scheduler.sat[0] }},
            {{ _deluge_plugins_scheduler.sun[0] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[1] }},
            {{ _deluge_plugins_scheduler.tue[1] }},
            {{ _deluge_plugins_scheduler.wed[1] }},
            {{ _deluge_plugins_scheduler.thr[1] }},
            {{ _deluge_plugins_scheduler.fri[1] }},
            {{ _deluge_plugins_scheduler.sat[1] }},
            {{ _deluge_plugins_scheduler.sun[1] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[2] }},
            {{ _deluge_plugins_scheduler.tue[2] }},
            {{ _deluge_plugins_scheduler.wed[2] }},
            {{ _deluge_plugins_scheduler.thr[2] }},
            {{ _deluge_plugins_scheduler.fri[2] }},
            {{ _deluge_plugins_scheduler.sat[2] }},
            {{ _deluge_plugins_scheduler.sun[2] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[3] }},
            {{ _deluge_plugins_scheduler.tue[3] }},
            {{ _deluge_plugins_scheduler.wed[3] }},
            {{ _deluge_plugins_scheduler.thr[3] }},
            {{ _deluge_plugins_scheduler.fri[3] }},
            {{ _deluge_plugins_scheduler.sat[3] }},
            {{ _deluge_plugins_scheduler.sun[3] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[4] }},
            {{ _deluge_plugins_scheduler.tue[4] }},
            {{ _deluge_plugins_scheduler.wed[4] }},
            {{ _deluge_plugins_scheduler.thr[4] }},
            {{ _deluge_plugins_scheduler.fri[4] }},
            {{ _deluge_plugins_scheduler.sat[4] }},
            {{ _deluge_plugins_scheduler.sun[4] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[5] }},
            {{ _deluge_plugins_scheduler.tue[5] }},
            {{ _deluge_plugins_scheduler.wed[5] }},
            {{ _deluge_plugins_scheduler.thr[5] }},
            {{ _deluge_plugins_scheduler.fri[5] }},
            {{ _deluge_plugins_scheduler.sat[5] }},
            {{ _deluge_plugins_scheduler.sun[5] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[6] }},
            {{ _deluge_plugins_scheduler.tue[6] }},
            {{ _deluge_plugins_scheduler.wed[6] }},
            {{ _deluge_plugins_scheduler.thr[6] }},
            {{ _deluge_plugins_scheduler.fri[6] }},
            {{ _deluge_plugins_scheduler.sat[6] }},
            {{ _deluge_plugins_scheduler.sun[6] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[7] }},
            {{ _deluge_plugins_scheduler.tue[7] }},
            {{ _deluge_plugins_scheduler.wed[7] }},
            {{ _deluge_plugins_scheduler.thr[7] }},
            {{ _deluge_plugins_scheduler.fri[7] }},
            {{ _deluge_plugins_scheduler.sat[7] }},
            {{ _deluge_plugins_scheduler.sun[7] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[8] }},
            {{ _deluge_plugins_scheduler.tue[8] }},
            {{ _deluge_plugins_scheduler.wed[8] }},
            {{ _deluge_plugins_scheduler.thr[8] }},
            {{ _deluge_plugins_scheduler.fri[8] }},
            {{ _deluge_plugins_scheduler.sat[8] }},
            {{ _deluge_plugins_scheduler.sun[8] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[9] }},
            {{ _deluge_plugins_scheduler.tue[9] }},
            {{ _deluge_plugins_scheduler.wed[9] }},
            {{ _deluge_plugins_scheduler.thr[9] }},
            {{ _deluge_plugins_scheduler.fri[9] }},
            {{ _deluge_plugins_scheduler.sat[9] }},
            {{ _deluge_plugins_scheduler.sun[9] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[10] }},
            {{ _deluge_plugins_scheduler.tue[10] }},
            {{ _deluge_plugins_scheduler.wed[10] }},
            {{ _deluge_plugins_scheduler.thr[10] }},
            {{ _deluge_plugins_scheduler.fri[10] }},
            {{ _deluge_plugins_scheduler.sat[10] }},
            {{ _deluge_plugins_scheduler.sun[10] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[11] }},
            {{ _deluge_plugins_scheduler.tue[11] }},
            {{ _deluge_plugins_scheduler.wed[11] }},
            {{ _deluge_plugins_scheduler.thr[11] }},
            {{ _deluge_plugins_scheduler.fri[11] }},
            {{ _deluge_plugins_scheduler.sat[11] }},
            {{ _deluge_plugins_scheduler.sun[11] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[12] }},
            {{ _deluge_plugins_scheduler.tue[12] }},
            {{ _deluge_plugins_scheduler.wed[12] }},
            {{ _deluge_plugins_scheduler.thr[12] }},
            {{ _deluge_plugins_scheduler.fri[12] }},
            {{ _deluge_plugins_scheduler.sat[12] }},
            {{ _deluge_plugins_scheduler.sun[12] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[13] }},
            {{ _deluge_plugins_scheduler.tue[13] }},
            {{ _deluge_plugins_scheduler.wed[13] }},
            {{ _deluge_plugins_scheduler.thr[13] }},
            {{ _deluge_plugins_scheduler.fri[13] }},
            {{ _deluge_plugins_scheduler.sat[13] }},
            {{ _deluge_plugins_scheduler.sun[13] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[14] }},
            {{ _deluge_plugins_scheduler.tue[14] }},
            {{ _deluge_plugins_scheduler.wed[14] }},
            {{ _deluge_plugins_scheduler.thr[14] }},
            {{ _deluge_plugins_scheduler.fri[14] }},
            {{ _deluge_plugins_scheduler.sat[14] }},
            {{ _deluge_plugins_scheduler.sun[14] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[15] }},
            {{ _deluge_plugins_scheduler.tue[15] }},
            {{ _deluge_plugins_scheduler.wed[15] }},
            {{ _deluge_plugins_scheduler.thr[15] }},
            {{ _deluge_plugins_scheduler.fri[15] }},
            {{ _deluge_plugins_scheduler.sat[15] }},
            {{ _deluge_plugins_scheduler.sun[15] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[16] }},
            {{ _deluge_plugins_scheduler.tue[16] }},
            {{ _deluge_plugins_scheduler.wed[16] }},
            {{ _deluge_plugins_scheduler.thr[16] }},
            {{ _deluge_plugins_scheduler.fri[16] }},
            {{ _deluge_plugins_scheduler.sat[16] }},
            {{ _deluge_plugins_scheduler.sun[16] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[17] }},
            {{ _deluge_plugins_scheduler.tue[17] }},
            {{ _deluge_plugins_scheduler.wed[17] }},
            {{ _deluge_plugins_scheduler.thr[17] }},
            {{ _deluge_plugins_scheduler.fri[17] }},
            {{ _deluge_plugins_scheduler.sat[17] }},
            {{ _deluge_plugins_scheduler.sun[17] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[18] }},
            {{ _deluge_plugins_scheduler.tue[18] }},
            {{ _deluge_plugins_scheduler.wed[18] }},
            {{ _deluge_plugins_scheduler.thr[18] }},
            {{ _deluge_plugins_scheduler.fri[18] }},
            {{ _deluge_plugins_scheduler.sat[18] }},
            {{ _deluge_plugins_scheduler.sun[18] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[19] }},
            {{ _deluge_plugins_scheduler.tue[19] }},
            {{ _deluge_plugins_scheduler.wed[19] }},
            {{ _deluge_plugins_scheduler.thr[19] }},
            {{ _deluge_plugins_scheduler.fri[19] }},
            {{ _deluge_plugins_scheduler.sat[19] }},
            {{ _deluge_plugins_scheduler.sun[19] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[20] }},
            {{ _deluge_plugins_scheduler.tue[20] }},
            {{ _deluge_plugins_scheduler.wed[20] }},
            {{ _deluge_plugins_scheduler.thr[20] }},
            {{ _deluge_plugins_scheduler.fri[20] }},
            {{ _deluge_plugins_scheduler.sat[20] }},
            {{ _deluge_plugins_scheduler.sun[20] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[21] }},
            {{ _deluge_plugins_scheduler.tue[21] }},
            {{ _deluge_plugins_scheduler.wed[21] }},
            {{ _deluge_plugins_scheduler.thr[21] }},
            {{ _deluge_plugins_scheduler.fri[21] }},
            {{ _deluge_plugins_scheduler.sat[21] }},
            {{ _deluge_plugins_scheduler.sun[21] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[22] }},
            {{ _deluge_plugins_scheduler.tue[22] }},
            {{ _deluge_plugins_scheduler.wed[22] }},
            {{ _deluge_plugins_scheduler.thr[22] }},
            {{ _deluge_plugins_scheduler.fri[22] }},
            {{ _deluge_plugins_scheduler.sat[22] }},
            {{ _deluge_plugins_scheduler.sun[22] }}
        ],
        [
            {{ _deluge_plugins_scheduler.mon[23] }},
            {{ _deluge_plugins_scheduler.tue[23] }},
            {{ _deluge_plugins_scheduler.wed[23] }},
            {{ _deluge_plugins_scheduler.thr[23] }},
            {{ _deluge_plugins_scheduler.fri[23] }},
            {{ _deluge_plugins_scheduler.sat[23] }},
            {{ _deluge_plugins_scheduler.sun[23] }}
        ]
    ],
    "low_active": {{ _deluge_plugins_scheduler.low_active }},
    "low_active_down": {{ _deluge_plugins_scheduler.low_active_down }},
    "low_active_up": {{ _deluge_plugins_scheduler.low_active_up }},
    "low_down": {{ _deluge_plugins_scheduler.low_down }},
    "low_up": {{ _deluge_plugins_scheduler.low_up }}
}