[Service]
ExecStart=
ExecStart=/usr/bin/deluged -d --loglevel {{ deluge__srv._log_level }} --config "{{ deluge___app._cfg_d }}"
Restart=always
User={{ deluge__srv._user }}
Group={{ deluge__srv._group }}