{
    "file": {{ deluge_autoadd_file|tojson }},
    "format": {{ deluge_autoadd_format|tojson }}
}{
    "next_id": {{ deluge_autoadd_watchdirs|length + 1 }},
    "watchdirs": {
{% for watch in deluge_autoadd_watchdirs -%}
        "{{ loop.index }}": {
{% for key, value in watch.items() -%}
        "{{ key }}": {{ value|tojson }}
{% endfor -%}
        },
{% endfor %}
    }
}
