{
    "file": 1,
    "format": 1
}{
{% for header in _deluge_order %}
{%   set header_loop = loop %}
{%   if header == 'Proxy' %}
    "proxy": {
{%     for section in _deluge_map | selectattr('value.section', '==', header) | sort(attribute='value.order') %}
{%       if not section.value.deprecated %}
{%         if section.value.hint == 'int' %}
        "{{ section.value.key }}": {{ section.value.raw | int | to_json }}{% if not loop.last %},{% endif %}
{%         elif section.value.hint == 'float' %}
        "{{ section.value.key }}": {{ section.value.raw | float | to_json }}{% if not loop.last %},{% endif %}
{%         else %}
        "{{ section.value.key }}": {{ section.value.raw | to_json }}{% if not loop.last %},{% endif %}
{%         endif %}

{%       endif %}
{%     endfor %}
    },
{%   else %}
{%     for section in _deluge_map | selectattr('value.section', '==', header) | sort(attribute='value.order') %}
{%       if not section.value.deprecated %}
{%         if section.value.hint == 'int' %}
    "{{ section.value.key }}": {{ section.value.raw | int | to_json }}{% if not header_loop.last or not loop.last %},{% endif %}
{%         elif section.value.hint == 'float' %}
    "{{ section.value.key }}": {{ section.value.raw | float | to_json }}{% if not header_loop.last or not loop.last %},{% endif %}
{%         else %}
    "{{ section.value.key }}": {{ section.value.raw | to_json }}{% if not header_loop.last or not loop.last %},{% endif %}
{%         endif %}

{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
}