{
    "file": {{ deluge_file|tojson }},
    "format": {{ deluge_format|tojson }}
}{
    "add_paused": {{ deluge_add_paused|tojson }},
    "allow_remote": {{ deluge_allow_remote|tojson }},
    "auto_manage_prefer_seeds": {{ deluge_auto_manage_prefer_seeds|tojson }},
    "auto_managed": {{ deluge_auto_managed|tojson }},
    "cache_expiry": {{ deluge_cache_expiry|tojson }},
    "cache_size": {{ deluge_cache_size|tojson }},
    "copy_torrent_file": {{ deluge_copy_torrent_file|tojson }},
    "daemon_port": {{ deluge_daemon_port|int }},
    "del_copy_torrent_file": {{ deluge_del_copy_torrent_file|tojson }},
    "dht": {{ deluge_dht|tojson }},
    "dont_count_slow_torrents": {{ deluge_dont_count_slow_torrents|tojson }},
    "download_location": {{ deluge_download_location|tojson }},
    "download_location_paths_list": {{ deluge_download_location_paths_list|tojson|default('[]') }},
    "enabled_plugins": {{ deluge_enabled_plugins|tojson|default('[]') }},
    "enc_in_policy": {{ deluge_enc_in_policy|tojson }},
    "enc_level": {{ deluge_enc_level|tojson }},
    "enc_out_policy": {{ deluge_enc_out_policy|tojson }},
    "geoip_db_location": {{ deluge_geoip_db_location|tojson }},
    "ignore_limits_on_local_network": {{ deluge_ignore_limits_on_local_network|tojson }},
    "info_sent": {{ deluge_info_sent|tojson }},
    "listen_interface": {{ deluge_listen_interface|tojson }},
    "listen_ports": {{ deluge_listen_ports|map('int')|list  }},
    "listen_random_port": {{ deluge_listen_random_port }},
    "listen_reuse_port": {{ deluge_listen_reuse_port|tojson }},
    "listen_use_sys_port": {{ deluge_listen_use_sys_port|tojson }},
    "lsd": {{ deluge_lsd|tojson }},
    "max_active_downloading": {{ deluge_max_active_downloading|tojson }},
    "max_active_limit": {{ deluge_max_active_limit|tojson }},
    "max_active_seeding": {{ deluge_max_active_seeding|tojson }},
    "max_connections_global": {{ deluge_max_connections_global|tojson }},
    "max_connections_per_second": {{ deluge_max_connections_per_second|tojson }},
    "max_connections_per_torrent": {{ deluge_max_connections_per_torrent|tojson }},
    "max_download_speed": {{ deluge_max_download_speed|tojson }},
    "max_download_speed_per_torrent": {{ deluge_max_download_speed_per_torrent|tojson }},
    "max_half_open_connections": {{ deluge_max_half_open_connections|tojson }},
    "max_upload_slots_global": {{ deluge_max_upload_slots_global|tojson }},
    "max_upload_slots_per_torrent": {{ deluge_max_upload_slots_per_torrent|tojson }},
    "max_upload_speed": {{ deluge_max_upload_speed|tojson }},
    "max_upload_speed_per_torrent": {{ deluge_max_upload_speed_per_torrent|tojson }},
    "move_completed": {{ deluge_move_completed|tojson }},
    "move_completed_path": {{ deluge_move_completed_path|tojson }},
    "move_completed_paths_list": {{ deluge_move_completed_paths_list|tojson|default('[]') }},
    "natpmp": {{ deluge_natpmp|tojson }},
    "new_release_check": {{ deluge_new_release_check|tojson }},
    "outgoing_interface": {{ deluge_outgoing_interface|tojson }},
    "outgoing_ports": {{ deluge_outgoing_ports|tojson }},
    "path_chooser_accelerator_string": {{ deluge_path_chooser_accelerator_string|tojson }},
    "path_chooser_auto_complete_enabled": {{ deluge_path_chooser_auto_complete_enabled|tojson }},
    "path_chooser_max_popup_rows": {{ deluge_path_chooser_max_popup_rows|tojson }},
    "path_chooser_show_chooser_button_on_localhost": {{ deluge_path_chooser_show_chooser_button_on_localhost|tojson }},
    "path_chooser_show_hidden_files": {{ deluge_path_chooser_show_hidden_files|tojson }},
    "peer_tos": {{ deluge_peer_tos|tojson }},
    "plugins_location": {{ deluge_plugins_location|tojson }},
    "pre_allocate_storage": {{ deluge_pre_allocate_storage|tojson }},
    "prioritize_first_last_pieces": {{ deluge_prioritize_first_last_pieces|tojson }},
    "proxy": {
        "anonymous_mode": {{ deluge_proxy_anonymous_mode|tojson }},
        "force_proxy": {{ deluge_proxy_force_proxy|tojson }},
        "hostname": {{ deluge_proxy_hostname|tojson }},
        "password": {{ deluge_proxy_password|tojson }},
        "port": {{ deluge_proxy_port|tojson }},
        "proxy_hostnames": {{ deluge_proxy_proxy_hostnames|tojson }},
        "proxy_peer_connections": {{ deluge_proxy_proxy_peer_connections|tojson }},
        "proxy_tracker_connections": {{ deluge_proxy_proxy_tracker_connections|tojson }},
        "type": {{ deluge_proxy_type|tojson }},
        "username": {{ deluge_proxy_username|tojson }}
    },
    "queue_new_to_top": {{ deluge_queue_new_to_top|tojson }},
    "random_outgoing_ports": {{ deluge_random_outgoing_ports|tojson }},
    "random_port": {{ deluge_random_port|tojson }},
    "rate_limit_ip_overhead": {{ deluge_rate_limit_ip_overhead|tojson }},
    "remove_seed_at_ratio": {{ deluge_remove_seed_at_ratio|tojson }},
    "seed_time_limit": {{ deluge_seed_time_limit|tojson }},
    "seed_time_ratio_limit": {{ deluge_seed_time_ratio_limit|tojson }},
    "send_info": {{ deluge_send_info|tojson }},
    "sequential_download": {{ deluge_sequential_download|tojson }},
    "share_ratio_limit": {{ deluge_share_ratio_limit|tojson }},
    "shared": {{ deluge_shared|tojson }},
    "stop_seed_at_ratio": {{ deluge_stop_seed_at_ratio|tojson }},
    "stop_seed_ratio": {{ deluge_stop_seed_ratio|tojson }},
    "super_seeding": {{ deluge_super_seeding|tojson }},
    "torrentfiles_location": {{ deluge_torrentfiles_location|tojson }},
    "upnp": {{ deluge_upnp|tojson }},
    "utpex": {{ deluge_utpex|tojson }}
}
