[Unit]
Description=Deluge Bittorrent Client Daemon
Documentation=man:deluged
After=network-online.target

[Service]
User={{ deluge_user }}
Group={{ deluge_group }}
Type=simple
UMask=007
ExecStart=/usr/bin/deluged -d --logfile {{ deluge_log }}/daemon.log --loglevel {{ deluge_log_level }} --logrotate -c {{ deluge_config }}
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
