Package: *
Pin: release a=stable
Pin-Priority: 700

Package: *
Pin: release a={% if deluge_package_source != 'current' %}{{ deluge_package_source }}{% else %}testing{% endif %}

Pin-Priority: 650

Package: *
Pin: release a=unstable
Pin-Priority: 600
