{
    "file": {{ deluge_web_file|tojson }},
    "format": {{ deluge_web_format|tojson }}
}{
    "base": {{ deluge_web_base|tojson }},
    "cert": {{ deluge_web_cert|tojson }},
    "default_daemon": {{ deluge_web_default_daemon|tojson }},
    "enabled_plugins": {{ deluge_web_enabled_plugins|tojson }},
    "first_login": {{ deluge_web_first_login|tojson }},
    "https": {{ deluge_web_https|tojson }},
    "interface": {{ deluge_web_interface|tojson }},
    "language": {{ deluge_web_language|tojson }},
    "pkey": {{ deluge_web_pkey|tojson }},
    "port": {{ deluge_web_port|int }},
    "pwd_salt": {{ deluge_web_pwd_salt|tojson }},
    "pwd_sha1": {{ deluge_web_pwd_sha1|tojson }},
    "session_timeout": {{ deluge_web_session_timeout|tojson }},
    "sessions": {{ deluge_web_sessions|tojson }},
    "show_session_speed": {{ deluge_web_show_session_speed|tojson }},
    "show_sidebar": {{ deluge_web_show_sidebar|tojson }},
    "sidebar_multiple_filters": {{ deluge_web_sidebar_multiple_filters|tojson }},
    "sidebar_show_zero": {{ deluge_web_sidebar_show_zero|tojson }},
    "theme": {{ deluge_web_theme|tojson }}
}
