{
    "file": 2,
    "format": 1
}{
{% for section in _deluge_cfg_map | selectattr("value.section", "match", "Interface web.conf") | sort(attribute="value.order") %}
{%   if not section.value.deprecated %}
{%     if section.value.key == 'pwd_salt' or section.value.key == 'pwd_sha1' %}
{%       if deluge_cfg_web_pwd_sha1.raw | length > 0 %}
    "{{ section.value.key }}": {{ section.value.raw | to_json }}{% if not loop.last %},{% endif %}

{%       endif %}
{%     else %}
{%       if section.value.hint == 'int' %}
    "{{ section.value.key }}": {{ section.value.raw | int | to_json }}{% if not loop.last %},{% endif %}
{%       elif section.value.hint == 'float' %}
    "{{ section.value.key }}": {{ section.value.raw | float | to_json }}{% if not loop.last %},{% endif %}
{%       else %}
    "{{ section.value.key }}": {{ section.value.raw | to_json }}{% if not loop.last %},{% endif %}
{%       endif %}

{%     endif %}
{%   endif %}
{% endfor %}
}